# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.pytest_cache/

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock

# Android
android/app/src/main/AndroidManifest.xml.backup
android/app/build/
android/build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/xcuserdata/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# Logs
*.log